<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wish.description %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @wish.criteria %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
